<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2026 The MegaMek Team. All Rights Reserved.

  This file is part of MegaMek Launcher.

  MegaMek Launcher is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License (GPL),
  version 3 or (at your option) any later version,
  as published by the Free Software Foundation.

  MegaMek Launcher is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty
  of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  A copy of the GPL should have been included with this project;
  if not, see <https://www.gnu.org/licenses/>.

  NOTICE: The MegaMek organization is a non-profit group of volunteers
  creating free software for the BattleTech community.

  MechWarrior, BattleMech, `Mech and AeroTech are registered trademarks
  of The Topps Company, Inc. All Rights Reserved.

  Catalyst Game Labs and the Catalyst Game Labs logo are trademarks of
  InMediaRes Productions, LLC.

  MechWarrior Copyright Microsoft Corporation. MegaMek was created under
  Microsoft's "Game Content Usage Rules"
  <https://www.xbox.com/en-US/developers/rules> and it is not endorsed by or
  affiliated with Microsoft.
-->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>MegaMek Launcher</string>
    <key>CFBundleExecutable</key>
    <string>MegaMek Launcher</string>
    <key>CFBundleIconFile</key>
    <string>MegaMekLauncher.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.megamek.launcher</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MegaMek Launcher</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@BUNDLE_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@BUNDLE_VERSION@</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
